<div class="container">
  <div class="row">
    <div class="col">
      <h3>マイページ</h3>
      <strong>登録情報</strong>
      <%= link_to '編集する', edit_end_users_path, class: "btn btn-outline-success" %>
      <table class='table'>
        <tr>
          <td>氏名：</td>
          <td>
            <%= current_end_user.last_name %>
            <%= current_end_user.first_name %>
          </td>
        </tr>
        <tr>
          <td>カナ：</td>
          <td>
            <%= current_end_user.last_name_read %>
            <%= current_end_user.first_name_read %>
          </td>
        </tr>
        <tr>
          <td>郵便番号：</td>
          <td><%= current_end_user.post_code %></td>
        </tr>
        <tr>
          <td>住所：</td>
          <td><%= current_end_user.address %></td>
        </tr>
        <tr>
          <td>電話番号：</td>
          <td><%= current_end_user.tel %></td>
        </tr>
        <tr>
          <td>メールアドレス：</td>
          <td><%= current_end_user.email %></td>
        </tr>
      </table>
      <%= link_to "退会の手続きはこちら", withdraw_confirm_path %>
    </div>
  </div>
</div>