<div class="container">
  <div class="row">
    <h1>商品一覧</h1>
    <table class='table'>
      <thead>
        <tr>
          <th>商品ID</th>
          <th>商品名</th>
          <th>税抜価格</th>
          <th>ジャンル</th>
          <th>ステータス</th>
        </tr>
      </thead>
      <tbody>
        <% @foods.each do |food| %>
          <tr>
            <td><%= food.id %></td>
            <td><%= link_to admin_food_path(food.id) do %><%= food.food_name %><% end %></td>
            <td><%= food.tax_free_price %></td>
            <td><%= food.genre.genre_name %></td>
            <td><% if food.sales_status %>
            販売中
            <% else %>
            販売停止中
            <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= paginate @foods %>
  </div>
</div>