<h1>商品詳細</h1>

<table>
  <tr>
    <th>商品名</th>
    <td><%= @food_show.food_name %></td>
  </tr>
  <tr>
    <th>商品説明</th>
    <td><%= @food_show.introduction %></td>
  </tr>
  <tr>
    <th>ジャンル</th>
    <td><%= @food_show.genre_name %></td>
  </tr>
  <tr>
    <th>税込価格（税抜価格）</th>
    <td><%= add_tax_sales_price(@food_show.tax_free_price) %></td>
  </tr>
  <tr>
    <th>販売ステータス</th>
    <td><%= @food_show.sales_status %></td>
  </tr>

</table>
    <div class="button text-center">
    <%= f.submit '新規登録', class:"btn btn-sm btn-success" %>
    </div>














<#%= @food_show.each do |f| %>
<#%= f.label :"商品名" %>
<#%= f.food_name %>
<#%= f.label :"説明" %>
<#%= f.introduction %>
<#%= f.label :"ジャンル" %>
<#%= f.genre_id %>
<#%= f.label :"税抜価格" %>
<#%= f.tax_free_price %>
<#%= f.label :"販売ステータス" %>
<#%= f.sales_status %>
<#%= image_tag food.food_image, size:'50x50' %>記述に自信無い
<#%= f.submit '新規登録', class:"btn btn-sm btn-success" %>

