<div class= "container">
  <div class= "row">
    <div class="col-3">
    <%#= render 'shared/genre', genres: @genres %>
    </div>
      <div class= "col-9">
      <h2 class= "row"><%= "商品一覧 （全#{@foods.count}件）" %></h2>
       <div class= "row">
        <div class="d-flex flex-wrap col-8">
          <% @foods.each do |food| %>
            <span class="col-3">
              <div>
                <%= link_to food_path(food) do %>
                  <%= image_tag food.get_food_image(100, 100)%>
                <% end %>
              </div>
              <div>
                <%= link_to food.food_name, food_path(food) %>
              </div>
              <div>
                ￥<%= food.add_tax_sales_price %>
              </div>
            </span>
          <% end %>
         </div>
        </div>
       </div>
       <%= paginate @foods %>
    </div>
 </div>

