<div class='container px-5 px-sm-0'>
  <div class="row login-row">
    <div class="col-5 d-grid gap-2 mx-auto mt-4">
      <h2>配送先編集</h2>
       <%= form_with model: @delivery do |f| %>
        <div class="field mt-2">
         <label class="post-code-label">郵便番号(ハイフンなし)：</label><br>
         <%= f.text_field :post_code, autofocus: true, class:"", size:"50*50" %>
        </div>
        <div class="field mt-2">
          <label class="address-label">住所：</label><br>
          <%= f.text_field :address, autofocus: true, class:"", size:"50*50" %>
        </div>
        <div class="field mt-2">
          <label class="address-label">宛名：</label><br>
          <%= f.text_field :delivery_name, autofocus: true, class:"", size:"50*50" %>
        </div>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
          <%= f.submit "Update", class: "btn btn-secondary submit m-2" %>
        </div>
  　　<% end %>
    </div>
　</div>
</div>