<div class="container">
  <div class="row">
    <h1>　注文履歴一覧　</h1>
    <table class='table'>
      <thead>
        <tr>
          <th>購入日時</th>
          <th>購入者</th>
          <th>注文個数</th>
          <th>注文ステータス</th>
        </tr>
      </thead>
      <tbody>
        <% @order.each do |f| %>
          <tr>
            <td><%= link_to admin_order_path(@order.id) do %><%= f.created_at %><% end %></td>
            <td><%= f.name %></td>
            <td><%= f.order_details.order_detail_count %></td>
            <td><% if order.order_status %>
            販売中
            <% else %>
            販売停止中
            <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= paginate @order %>
  </div>
</div>