<div class="container">
  <div class="row">
    <div class="col">
      <h3>ショッピングカート</h3>
      <%= link_to "カートを空にする", destroy_all_carts_path, method: :delete,class: "btn btn-danger btn-sm" %>
      <table class="table table-bordered">
        <thead>
          <tr class="table-secondary">
            <td>商品名</td>
            <td>単価(税込)</td>
            <td>数量</td>
            <td>小計</td>
            <td></td>
          </tr>
        </thead>
        <tbody>
          <%= form_with model: Cart, url: carts_path, method: :post do |f| %>
          <% @carts.each do |cart| %>
          <tr>
            <td><%= cart.food.food_name %></td>
            <td><%= cart.food.add_tax_sales_price %></td>
            <td>
              <%= f.select :order_count, [1,2,3], {include_blank: '選択ボックス'}, class: 'sample' %>
            </td>
            <td>¥<%= @total_price.round.to_s(:delimited)%></td>
          </tr>
          <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>